@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss';

body {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar,
#content {
  border-radius: 4px;
  background-color: rgba(0.75, 0.75, 0.75, 0.05);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
}

#instrument-image,
#guage,
#needle,
#marker {
  border-radius: 4px;
}

#content {
  margin-top: 30px;
}

#instrument-name {
  padding-top: 20px;
}

#instrument-image {
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

form input,
select,
button {
  min-width: 320px;
}

#tuning-form select {
  margin-bottom: 20px !important;
}

#unsplash-attribution {
  font-style: italic;
  font-size: smaller;
}

#guage,
#needle,
#marker {
  position: fixed;
  bottom: 20px;
  height: 80px;
}

#guage {
  width: 80%;
  left: 10%;
  background-color: steelblue;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
}

#needle {
  width: 30px;
  left: 10%;
  background-color: lightseagreen;
}

#marker {
  width: 30px;
  left: 49%;
  background-color: rgba(0, 0, 0, 0.5);
}

#note,
#freq {
  position: fixed;
}

#note {
  left: 47.5%;
  bottom: 120px;
}

#freq {
  left: 47.5%;
  bottom: 95px;
}

#tuning-name,
#tuning-notes {
  position: fixed;
  left: 10%;
}

#tuning-name {
  bottom: 120px;
}

#tuning-notes {
  color: lightseagreen;
  bottom: 95px;
}

#new-instrument-form, #new-tuning-form {
  margin: 20px;
}

#new-tuning-form-title {
  width: 8em;
}

button {
  position: relative;
  margin-top: -20px;
  margin-bottom: 0px;
  top: -20px;
}
