@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss';

body {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar,
#content {
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
}

#instrument-image,
#guage,
#needle,
#marker {
  border-radius: 4px;
}

#content {
  margin-top: 30px;
}

#instrument-name {
  padding-top: 20px;
}

#instrument-image {
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

form input,
select,
button {
  min-width: 320px;
}

#tuning-form select,
#delete-instrument-form select {
  margin-bottom: 20px !important;
}

#unsplash-attribution {
  font-style: italic;
  font-size: smaller;
}

#guage,
#needle,
#marker {
  position: fixed;
  bottom: 20px;
  height: 80px;
}

#guage {
  width: 80%;
  left: 10%;
  background-color: steelblue;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
}

#needle {
  width: 30px;
  left: 10%;
  background-color: lightseagreen;
}

#marker {
  width: 30px;
  left: 49%;
  background-color: rgba(0, 0, 0, 0.5);
}

#note,
#freq {
  position: fixed;
  left: 46%;
}

#note {
  bottom: 135px;
}

#tuning-name,
#tuning-notes {
  position: fixed;
  left: 10%;
}

#tuning-notes {
  color: lightseagreen;
}

#tuning-name {
  bottom: 140px;
}


#freq,
#tuning-notes {
  bottom: 95px;
}

#new-instrument-form,
#new-tuning-form,
#delete-instrument-form {
  margin: 20px;
}

#new-tuning-form-title,
#delete-instrument-form-title {
  width: 8em;
}

button {
  position: relative;
  margin-top: -20px;
  margin-bottom: 0px;
  top: -20px;
}

#tuning-notes,
#freq {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-bottom: 25px;
}

#tuning-notes {
  padding: 40px 20px 20px 20px;
}

#freq {
  padding: 45px 20px 10px 20px;
}

#tuning-name,
#note {
  margin-left: 20px;
}


#tuning-name, #note {
  z-index: 1;
}

#error {
  position: fixed;
  width: 100vw;
  top: 0px;
  text-align: center;
  background-color: rgba(255, 20, 0, 0.75);
  padding: 20px;
  border-radius: 4px;
  button {
    margin: 10px;
  }
}
