@import '../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss';

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#guage, #needle, #marker {
  border-radius: 4px;
}

form input, select, button {
  min-width: 320px;
}
